@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.WebTitle;

    string[] buttons = new string[3];
    string[] aspAction = new string[3];
    string[] aspControl = new string[3];
    for (int i = 0; i < 3; i++)
    {
        switch(i)
        {
            case 0: buttons[i] = "Create New Post"; aspAction[i] = "New"; aspControl[i] = "Admin"; break;
            case 1: buttons[i] = "Search for Change a Post"; aspAction[i] = "Index"; aspControl[i] = "Search"; break;
            default: buttons[i] = "Search for Erase a Post"; aspAction[i] = "Index"; aspControl[i] = "Search"; break;
        }
    }
}

<div class="container text-center">
    @if (TempData["AdminMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["AdminMessage"]
        </div>
    }
    <div class="admin-title row">
        <h3>Posting Administration Hub</h3>
    </div>
    <div class="admin-body row">
        @for (int i = 0; i < 3; i++)
        {
            <div class="admin-options col">
                <form asp-controller="@aspControl[i]" asp-action="@aspAction[i]" method="post">
                    <button type="submit" class="">@buttons[i]</button>
                </form>
            </div>
        }
    </div>
</div>