@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model ViewClassViewModel
@{
}

<div class="container text-center">
    <div class="search-bar row"></div>
    <div class="more-popular-aside row"></div>
</div>