@using Opuestos_por_el_Vertice.Models.ViewModels;
@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model SearchViewModel
@{
}

<form asp-controller="Search" asp-action="@Model.Action" method="get" class="search-bar-form">
    <label for="search-bar-form" class="form-label search-bar-form-label h5">Search for Posts Here</label>
    <input id="search-bar-form" type="text" asp-for="@Model.Search" class="form-control search-bar-form-input" />
    <button type="submit" class="btn search-bar-form-button">Go For It</button>
</form>