@using Opuestos_por_el_Vertice.Models.Services.ViewModels.ViewEnvelopment
@model ViewKindViewModel
@{
    if (Model.User == null) { Model.User = new(); }
}

<div class="row">
    @if (ViewData["Message"] != null)
    {
        if (ViewData["Message"]?.ToString() != "")
        {
            <div align="center" class="alert-danger p-2 text-center alert-data w-75">@ViewData["Message"]</div>
        }
    }
</div>
<div class="row form-body ">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" id="email" name="email" type="text" />
            @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="pass" class="form-label">Password</label>
            <input class="form-control" id="pass" name="password" type="password" />
            @Html.ValidationMessageFor(m => m.User.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-dark form-send">Log In</button>
    </form>
</div>