@using Opuestos_por_el_Vertice.Models.Services.ViewModels.ViewEnvelopment
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.PageTitle;
}

<div class="container">
    <div class="row">
        <div class="post-body col">
            @Html.Raw(Model.ObjectsClass.SelectedPost.Body)
        </div>
    </div>
</div>