@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model ViewClassViewModel
@{
}

<div class="container text-center">
    <div class="more-popular col"></div>
    <div class="last-news col"></div>
</div>
