@import "fonts.css";


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #000;
  color: #f00;
}

footer {
  margin-top: .2rem;
  padding: .5rem;
}

li, input, button, a  {
  font-family: 'Plain Germanica';
  color: #ba0202;
  text-shadow: 
    -1px -1px 0 #ff4343,  
    1px -1px 0 #ff4343,
    -1px 1px 0 #ff4343,
    1px 1px 0 #ff4343;
}

h1, h2, h3, h4, h5, h6, p {
  color: #ba0202;
  text-shadow: 
    -1px -1px 0 #ff4343,  
    1px -1px 0 #ff4343,
    -1px 1px 0 #ff4343,
    1px 1px 0 #ff4343;
}

h1 {
  font-family: 'Who Asks Satan';
  font-size: 3em;
}

h2 {
  font-family: 'Walk Da Walk Heavier';
  font-size: 1.8em;
}

h3 {
  font-family: 'Walk Da Walk';
  font-size: 1.5em;
}

h4 {
  font-family: 'Squealer Embossed';
}

h5, h6, p {
  font-size: 1.2em;
  font-family: 'Olipsso Script';
  font-weight: 700;
}

input {
  opacity: .9;
}

.container, .container-fluid {
  padding: 0;
  margin: 0;
}

.row, .col, .col-1, .col-2,
.col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
  padding: 0;
  margin: 0;
}

.body-container ul {
  list-style-type: none;
}

.navbar-container {
  padding: 0 1rem;
  background-color: #000;
}

.body-container {
  margin: 1.5rem;
}

.aside-container {
  padding: 0 1rem 0 2rem;
}

a .navbar-brand,
a .nav-link,
.carousel-caption,
.search-bar-form-button {
  font-family: 'PentaGrams Malefissent';
}

.carousel-caption h1 {
  font-family: 'Burn The Witch';
  font-size 3.5em;
}

.carousel-caption h3 {
  font-family: 'A Charming Font Expanded';
  font-size: 3.2em;
}

.carousel-caption h5 {
  font-family: Screter;
}

.card,
li.list-group-item {
  background-color: #000;
}

.alert {
  margin: .5rem 4rem 2rem 4rem;
  font-family: 'Squealer Embossed';
  font-weight: 500;
  font-size: .9em;
}

div .card {
  padding: .5rem;
}

div .card-body img {
  margin-bottom: 1rem;
}

.search-bar {
  margin-bottom: 2rem;
}

.search-bar-form {
  font-family: 'Squealer Embossed';
  font-weight: 700;
}

.block-title {
  padding-bottom: 1rem;
}

.more-popular-body li {
  padding-bottom: .3rem;
}

.more-popular-aside-body {
  margin: 0 2rem;
}

.more-popular-aside-body li {
  list-style-type: upper-roman;
  padding: .2rem 0;
}

.search-head {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.search-body ul li,
.search-body-content {
  padding: 1rem;
}

.search-body {
  margin-bottom: 1.2rem;
}

.search-body-admin {
  padding-top: 1rem;
}

.form-button {
  padding: .5rem;
}

.form-button-content {
  padding: .5rem;
}

.form-title {
  padding: 1rem 0;
}

.form-body {
  padding: 1rem 2rem;
}

.form-body .form-group {
  padding: 0 .5rem 1rem .5rem;
}

.form-body .form-label {
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.form-options {
  margin: 2rem;
}

.form-send {
  margin-top: 1.2rem;
}

.confirmation-title {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.confirmation-buttons .col {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.alert-data {
  border-radius: 8px;
}